<h1><%= @list.name %></h1>

<% @list.movies.each do |movie|  %>
<h3><%= movie.title %></h3>
<% movie.bookmarks.each do |bookmark| %>
<p><%= link_to bookmark.comment, bookmark_path(bookmark) , method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end  %>
<% end %>

<%= link_to 'Create a bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Go back', lists_path %>
