<div class="banner-mini" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key, height: 300, width: 400, crop: :fill) : image_path('list.jpg') %>);">
  <div class="container ">
    <h1>New List</h1>
  </div>
</div>

<div class="container">
  <div class="list-header">
    <h2><%= @list.name %></h2>
    <%= link_to new_list_bookmark_path(@list) do %>
      <i class="fas fa-plus-square"></i>
    <% end %>
  </div>
<div class="lists">
  <% @list.movies.each do |movie|  %>
<div class="card rounded">
  <%= image_tag "https://image.tmdb.org/t/p/w500#{movie.poster_url}", alt: "Movie", class: "card-img-top"%>
    <div class="card-body">
      <h5 class="card-title"><%= movie.title %></h5>
      <% movie.bookmarks.each do |bookmark| %>
        <div class="card-div">
        <p class="card-text"><%= bookmark.comment %></p>
        <%= link_to bookmark_path(bookmark) , method: :delete, data: { confirm: "Are you sure?" } do%>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        </div>
      <% end  %>
    </div>
  </div>
<% end %>
</div>
  <%= link_to lists_path do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</div>

